p{
    color:red;
    background-color:rgb(255, 211, 253) ;
}
img{
    width:300px;
    border:110px;
}
p{
    color:rgb(216, 0, 0);
    front-side: 20px;
}
div{
    max-width: 400px;
    margin:auto;
}