body{
    color:rgb(25, 0, 255);
    background-color:rgb(21, 216, 230);
}
img{
    width:300px;
    border:110px;
}
p{
    color:rgb(216, 0, 0);
    front-side: 20px;
}
div{
    max-width: 800px;
    margin:auto;
}
.playwrite {
    font-family:"Playwrite GB S",cursive;
    font-optical-sizing: auta;
    font-weight: normal;
    font_style: normal;
}